<div id="search-component">
  <div class="search-form">
    <mat-form-field>
      <input matInput placeholder="Location Search" #searchBox id="search-box" (keyup)="search(searchBox.value)">
    </mat-form-field>
  </div>

  <mat-grid-list cols="5" rowHeigth="100px">
    <mat-grid-tile *ngFor="let location of locations$ | async" [style.background]="location.color">
      <a [routerLink]="[ '/dailyForecast', location.woeid ]">
        <mat-grid-tile-footer>
          {{location.title}}
        </mat-grid-tile-footer>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
