<div id="search-component">
  <mat-form-field>
    <input matInput placeholder="Location Search" 
      #searchBox id="search-box" 
      (keyup)="search(searchBox.value)">
  </mat-form-field>
  <mat-nav-list>
    <mat-list-item *ngFor="let location of locations$ | async">
        <mat-icon fontSet="fa" fontIcon="fa-city"></mat-icon>
        <a [routerLink]="[ '/dailyForecast', location.woeid ]"> 
          {{location.title}}, {{location.location_type}}
        </a>
        <mat-divider></mat-divider>
    </mat-list-item>
  </mat-nav-list>
</div>